use Mix.Config

# Configure your database
config :banking_api, BankingApi.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "",
  database: "banking_api_test",
  hostname: "localhost",
  pool: Ecto.Adapters.SQL.Sandbox
